@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Slackey&display=swap');

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    width: 100%;
}

.title {
    font-family: 'Slackey';
    color: #4E739A;
    display: block;
    font-size: 2.5em;
    cursor: default;
    margin: 0;
}

.instructions {
    font-family: 'Patrick Hand';
    color: #4E739A;
    font-size: x-large;
    margin: 0;
    margin-bottom: 5rem;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 400px;
    height: 50px;
    padding: 0.5em;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.input:focus-visible {
    outline: 2px solid #4E739A;
}

.icon {
    margin-left: 10px;
    display: flex;
    align-self: flex-end;
    height: 50px;
    cursor: pointer;
}