@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Slackey&display=swap');

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    width: 100%;
    text-align: center;
}

.title {
    font-family: 'Slackey';
    color: #4E739A;
    display: block;
    font-size: 2.5rem;
    cursor: default;
    margin: 0;
}

.instructions {
    font-family: 'Patrick Hand';
    color: #4E739A;
    font-size: x-large;
    margin: 0;
    margin-bottom: 3rem;
}

.form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.5rem;
}

.form label {
    display: block;
    font-family: 'Patrick Hand';
    font-size: larger;
    color: #4E739A;
    margin-bottom: 0.5rem;
}

.form input {
    width: 400px;
    height: 35px;
    padding: 0.5em;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

.form textarea {
    width: 400px;
    height: 50px;
    padding: 0.5em;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

.form input:focus-visible,
.form textarea:focus-visible {
    outline: 2px solid #4E739A;
}

.submit {
    margin-top: 1rem;
    color: #F6F1DF;
    font-size: larger;
    font-family: 'Patrick Hand';
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: #4E739A;
    outline: none;
    cursor: pointer;
}

.submit:disabled {
    background-color: #8797aa;
    cursor: default;
}

.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Patrick Hand';
    color: #4E739A;
    margin-top: 2rem;
    font-size: larger;
}

.linkGroup {
    display: flex;
    align-items: center;
}

.link {
    margin: 0;
    font-size: 1.5rem;
}

.copy {
    height: 1.5rem;
    cursor: pointer;
    margin-left: 20px;
}

.error {
    color: red;
    font-family: 'Patrick Hand';
    letter-spacing: 1px;
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 2rem;
    }
    .instructions {
        font-size: larger;
    }

    .form input,
    .form textarea {
        width: 350px;
    }
}