.gameover-container{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.gameover{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 25vh;
    left: 34vw;
    /* position : absolute; */
    height: 437px;
    width: 671px;
    /* left: 385px;
    top: 194px; */
    border-radius: 30px;
    background: #F7F1DF;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

.geor{
    color: #B94E61;
    font-family: Slackey;
    font-size: x-large;
}

.win{
    color: #4eb960;
    font-family: Slackey;
    font-size: x-large;
}

.ok-btn{
    font-family: Slackey;
    font-size: 2.5rem;
    border: none;
    background: #F7F1DF;
    color: #4E739A;
    margin-top: 3rem;
}


.content h2 {
    font-family: Patrick Hand SC;
    font-size: 45px;
    margin: 0;
}