
.header {
    background-color: #4E739A;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.title {
    margin-left: 2rem;
    font-family: 'Fredericka the Great';
    font-size: xx-large;
    font-weight: 400;
    color: #F6F1DF;
}

.exit {
    margin-right: 2rem;
    font-size: x-large;
    font-weight: 400;
    color: #F6F1DF;
    font-family: 'Patrick Hand SC';
}

.exit:hover {
    cursor: pointer;
    color: #D6E5E2;
}

@media screen and (max-width: 450px) {
    .mobile {
        position: sticky;
    }
}